<%
  var ads = [
    {
      href: 'http://click.aliyun.com/m/7306/',
      label: 'aliyun',
      img_src: '//img.alicdn.com/tps/TB1FfdvOXXXXXX1apXXXXXXXXXX-270-65.jpg'
    },
    {
      href: 'https://alinode.aliyun.com/?ref=cnode',
      label: 'alinode',
      img_src: '//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_',
    },
    {
      href: 'https://bearychat.com/?hmsr=cnodejs&hmpl=&hmcu=&hmkw=&hmci=',
      label: 'bearychat',
      img_src: '//dn-cnode.qbox.me/FprvqV07Dd_Z9XUr9rOmmZT3dGqz',
    },
    {
      href: 'http://www.ucloud.cn/site/seo.html?utm_source=zanzhu&utm_campaign=cnodejs&utm_medium=display&utm_content=shengji&ytag=cnodejs_display',
      label: 'ucloud-banner',
      img_src: '//dn-cnode.qbox.me/Fk7rRGVgB0XWgKjlpJs72VJty9Eu',
    },
    {
      href: 'http://submail.cn/sms?s=cnode',
      label: 'submail',
      img_src: '//dn-cnode.qbox.me/FixbBzsaHXlymE1_QRontEhsWR3O',
    },
    {
      href: 'https://mos.meituan.com/firework/price-reduction?site=cnode&campaign=20161117sales&traffic_source=cnode',
      label: 'meituan',
      img_src: '//dn-cnode.qbox.me/Flu3cxkE-tTtEEVQzOhwWvSnc4pC',
    },
  ];

    var randomNum = (new Date()).getMinutes() % ads.length;

    ads = ads.slice(randomNum).concat(ads.slice(0, randomNum));
%>
<div class='panel'>
  <div class='inner ads'>

    <% ads.forEach(function (adObj, idx) { %>
      <% if (idx !== 0) { %>
        <div class="sep10"></div>
      <% } %>
      <a href="<%-adObj.href%>" target="_blank" class="banner sponsor_outlink"
    data-label="<%=adObj.label%>">
        <img src="<%- staticFile(adObj.img_src) %>">
      </a>
    <% }) %>
  </div>
</div>
